<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>In-depth Explanation</title>
	<link href="../css/trailblazer_main.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="main">
  <div class="trail">
    <div class="numbox">1</div>
    <h2>What is JBoss Seam</h2>
    <img src="../img/header_line.gif" />
    
    <p>
       <center>
       <form>
          <INPUT type="button" value="Close Window" onclick="window.close()">
       </form>
       </center>
    </p>
    
    <p>
       EJB 3.0 and JSF are perhaps the most exciting new developments in the Java EE 5 platform. 
       Seam is an innovative new application framework that integrates the EJB 3.0 component model 
       with JSF as a presentation tier. Seam builds upon the standard extension points provided by 
       both specifications and provides a set of Java annotations that extends the standard 
       annotations defined by the EJB specification. In addition, Seam introduces several innovative 
       new ideas: managed conversations, declarative and contextual application state management, 
       bijection and integrated business process management. 
    </p>

    <p>
       Traditional web applications are incredibly vulnerable to bugs and performance problems 
       relating to state management. Developers are forced to handle issues like back button 
       navigation, multi-window browsing, session size management in an utterly ad-hoc fashion. 
       Access to transactional components from the web tier has also been problematic. J2EE 
       provided no way to have simultaneous access to state held in contexts associated with 
       the web request, and state held in transactional resources accessed via EJB. Finally, 
       J2EE had no first-class construct for representing state associated with a long-running 
       business process. Seam tackles all these problems, and provides a uniform model for 
       stateful components in Java EE 5.
    </p>
				
    <p>
       Like all JBoss software, this entire software stack is free. The full source code of this 
       sample application is available in the <code>examples/booking</code> directory of the 
       <a href="http://www.jboss.com/products/list/downloads#seam">Seam distribution</a>. 
       <!--
       There is even a  
       <a target="_blank" href="http://docs.jboss.com/TrailBlazer/seam-booking/Seam.htm">
          10-minute flash demo 
       </a>
       showing how to build a Seam web application from ground up.
       -->
    </p>

    <p>
       <center>
       <form>
          <INPUT type="button" value="Close Window" onclick="window.close()">
       </form>
       </center>
    </p>

  </div>
</div>

</body>
</html>
