<root>

    <bean id="accountService2" class="com.mkyong.rmiserver.POJOImpl">
        <!-- any additional properties, maybe a DAO? -->
    </bean>

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <!-- does not necessarily have to be the same name as the bean to be exported -->
        <property name="serviceName" value="AccountService"/>
        <property name="service" ref="accountService2"/>
        <property name="serviceInterface" value="com.mkyong.rmiserver.POJOInterface"/>
        <!-- defaults to 1099 -->
        <property name="registryPort" value="1199"/>
    </bean>

</root>
