kubernetes-topology-graph {
    display: block;
    user-select: none;
}

.app-topology g {
    font-family: PatternFlyIcons-webfont;
    font-size: 18px;
    text-anchor: middle;
    cursor: pointer;
}

.app-topology g text {
    stroke: none;
    stroke-width: 0px;
}

.app-topology g.weak use {
    opacity: .6;
}

.app-topology g.fixed use {
    stroke-width: 2px;
}

.app-topology g.selected use,
.app-topology g.selected circle {
    stroke-width: 4px;
}

.app-topology line {
    stroke: #aaa;
    stroke-width: 1;
}

.app-topology line.ExternalJarWar,
.app-topology line.ExternalJarWarApp {
    stroke-linecap: round;
    stroke-dasharray: 5, 2;
}

kubernetes-topology-icon {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    padding: 10px;
    user-select: none;
}

kubernetes-topology-icon svg {
    width: 32px;
    height: 32px;
    display: block;
}

kubernetes-topology-icon use {
    opacity: 0.4;
}

kubernetes-topology-icon.active use {
    opacity: 1;
}

kubernetes-topology-icon:hover use {
    opacity: 0.7;
}
