
pre#source {
	background: #F9F9F9;
	margin: 0;
	padding: 0;
}

div.inline-comment-body p:first-child, div.inline-comment-body ul:first-child, div.inline-comment-body ol:first-child {
       padding-top:0;
}

.source-report .info .classifications .desc { padding-left: 3ex; }


tr th:last-child { width: 600px; }
tr td:last-child { width: 600px; }
tr th:nth-child(2) { width: 80px; }
tr td:nth-child(2) { width: 70px; }

pre {
	font-family : "Lucida Grand", Verdana, Arial, Helvetica, sans-serif;
}

/* Pie chart */
div.windupPieGraph {
	height:250px;
	width:800px;
	margin: 0 auto;
	border: 0px dashed gainsboro;
}

div.windupPieGraph div.legend table {
	width: 300px;
}

div.windupPieGraph div.legend td.legendColorBox,
div.windupPieGraph div.legend td.legendColorBox div {
	width: 14px;
}


div.sausage {
	background: #FFEEB9;
	border: 1px solid #CFC195;
}

div.sausage-current {
	background: #FF6600;
	border: 1px solid #CC5200;
}

.sausage-set {
	border: 0px !important;
}
span.dash {
	padding: 0 10px;
}

ul.links {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ul.links li {
	background-image: url("../img/styles/glyphicons_217_circle_arrow_right.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	margin-left: 20px;
	margin-top:2px;
	margin-bottom:2px;
}

ul.notifications {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}


ul.notifications li {
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	margin-left: 20px;
	margin-top:2px;
	margin-bottom:2px;
}
ul.notifications li.info {
	background-image: url("../img/styles/glyphicons_195_circle_info.png");
}
ul.notifications li.warning {
	background-image: url("../img/styles/glyphicons_196_circle_exclamation_mark.png");
}
ul.notifications li.severe {
	background-image: url("../img/styles/glyphicons_196_circle_exclamation_mark.png");
}
ul.notifications li.critical {
	background-image: url("../img/styles/glyphicons_196_circle_exclamation_mark.png");
}

div.inline-comment-heading strong.notification {
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	margin-left: 5px;
	margin-top:2px;
	margin-bottom:2px;
}

div.inline-source-hint-group {
	white-space: normal;
}

div.inline-comment-heading strong.info {
	background-image: url("../img/styles/glyphicons_195_circle_info.png");
}
div.inline-comment-heading strong.warning {
	background-image: url("../img/styles/glyphicons_196_circle_exclamation_mark.png");
}
div.inline-comment-heading strong.severe {
	background-image: url("../img/styles/glyphicons_196_circle_exclamation_mark.png");
}
div.inline-comment-heading strong.critical {
	background-image: url("../img/styles/glyphicons_196_circle_exclamation_mark.png");
}

pre {
	font-family: "Lucida Grand", Verdana, Arial, Helvetica, sans-serif;
	margin: 5px;
	padding: 5px;
}

div.inline-source-comment {
	margin-left:   -6px;
	padding-bottom: 2px;
}

div.inline-comment {
	margin: 2px 6px;
	border: 1px solid #666;
	background: #CCC;
	overflow: hidden;
}

div.inline-comment:last-child {
	margin-bottom: 0;
}

div.inline-source-comment div.inline-comment-body {
	background: #FFF;
	padding: 10px;
	white-space: normal;
}

div.inline-comment div.inline-comment-heading {

	padding: 5px 5px;
	margin:0;
	border-bottom: 1px solid #999;
}

div.inline-comment div.inline-comment-heading h2 {
	font-size: 12px;
	padding: 0;
	padding-left: 20px;
	margin: 0;
}

div.inline-comment-body pre {
	border: 1px solid #999;
	border-radius: 5px;
	background: whitesmoke !important;
	margin: 0;
}

div.inline-comment-body > ul,ol {
	margin: 1em 0;
	color: #000;
	padding: 0;
	line-height: 1;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

div.inline-comment-body > ul {
	list-style: disc inside !important;
}

div.inline-comment-body > ul > li {
	list-style: disc inside !important;
	padding-left: 6px !important;
}

div.inline-comment-body > ul > li,ol > li {
	margin: 0;
	padding: 0;
	line-height: 1;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

div.inline-comment-body > ol {
	list-style: decimal inside !important;
}

div.inline-comment-body > ol > li {
	list-style: decimal inside !important;
	padding-left: 6px !important;
}

div.inline-comment-body p {
	padding: 0;
}

div.inline-comment-body p:last-child, ul:last-child, ol.last-child {
	padding-bottom:0;
	margin-bottom:0;
}

.snippet-wrap .snippet-num li.box {
    border: none;
    padding-bottom: 5px;
    border: 1px solid #80775d !important;
    margin-right: 10px;
}

div.green div.inline-comment {
	border: 1px solid #4f673a;
}

div.green div.inline-comment div.inline-comment-heading {
	background: #9dce74;
    padding: 0;
}

div.inline-comment-heading:only-child {
	border: 0 !important;
}

div.green pre {
	border-color: #1a5006;
}

li.box + li.box {
	margin-top:6px;
}

.sh_ide-eclipse .sh_sourceCode .sh_type,
.sh_ide-eclipse .sh_keyword { font-weight: normal; }
