@media (max-width:801px) {
    .panel.panel-boarding{
        display:inline-block;
    }
}


body {
  padding-top: 105px;
  padding-bottom: 30px;
}

.logo {
  margin:23px;
}

.tablesorter > thead > tr > th.sortable {
  cursor:pointer;
  background-position: left center;
  padding-left: 20px;
  background: url(../img/styles/table-sort-bg.gif) no-repeat 0%;
}

.tablesorter > thead > tr > th.sortable-right {
  cursor:pointer;
  padding-right: 20px;
  background: url(../img/styles/table-sort-bg.gif) no-repeat 0%;
  background-position: right center;
}

.btn-xxs {
  padding: 2px 8px;
  margin: 0 3px 0 0;
  line-height: 1.1;
  font-size: 10px;
}

.rule-link {
    color: #008800;
}
.rule-link.floatRight {
    padding: 4pt 4pt 0 0;
    font-size: 8pt;
}

.feedback-nav {
	background: #43ac6a;
}

.nav > li > a.feedback-nav-btn {
	background: #43ac6a;
	padding-right: 30px;
}

.feedback-nav-btn:hover {
	background: #43ac6a;
}

.summaryMargin {
	padding:16px;
	border-bottom:1px solid #CCC;
}
.theme-dropdown .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.table.table-striped.table-bordered tr:last-child td:first-child {
	border-bottom-left-radius: 8pt;
}

.table.table-striped.table-bordered tr:last-child td:last-child {
	border-bottom-right-radius: 8pt;
}

.panel.panel-primary.panel-boarding {

	}
.panel.panel-primary.panel-boarding > .panel-heading {
    border-color: #008cba;
}

.panel.panel-primary h3 {
    font-weight: bold;
}

h3.panel-title { font-size: 14pt; font-weight: bold; }
body.source-report
h3.panel-title { font-size: 20pt }
h3.panel-title span.s {
	margin:0 10px
}



.mainGraphContainer .points,
.projectBox         .panel-body .points,
.panel              .panel-body .points { float: left; text-align: center; color: #00254b; }

.mainGraphContainer .points .number  { font-size: 85pt; width: 1.5em; }
.projectBox         .panel-body .points          { width: 24%; }
.projectBox         .panel-body .points .number  { font-size: 70pt; }
.panel              .panel-body .points .number  { font-size: 50pt; width: 1.5em; }
.panel              .panel-body .points .mainNumber  { font-size: 50pt;}

.panel              .panel-body .info h4 { font-weight: bold; font-size: 11pt; margin: 6pt 0 4pt 0; }
.panel              .panel-body .info h4:first-child { margin-top: 0; }
.panel              .panel-body .info .rule-link.tag { font-variant-position: super; font-weight: normal; position: relative; top: -0.3ex; }

.java-application .notifications li.warning small { color: #888; font-style: italic; }


dl:last-child {
	margin-bottom:0;
}

/*overwriting bootstrap style*/
.label {
    display: block;
    float: left;
    border-radius: 4px;
    padding: 4px;
    margin: 2px;
    font-weight: bold;
}
/*overwriting bootstrap style*/
.label-info {
    background-color: #696969; /*this is dark grey instead of blueish from bootstrap's label-info */
}

a.windup-file-location {
	display: block; position: relative; top: -40px; visibility: hidden;
}


.windup-bar {
	height: 130px; text-align: center; background: #FFF; border-bottom: 1px solid #c2cfdb;
}

.windup-cta {
	background: #fcfcfc; border-bottom: 1px solid #c2cfdb; height: 200px; margin-bottom: 30px;
}


.top-menu a:hover, a:focus{
	color: #008CBA;
}

.breadcrumb li a {
    font-size: 13px;
}

.page-header h1{
	margin:15px;
}

.page-header h1 span.slash {
	color: #555;
}

.page-header h1 {
    padding-left: 12pt;
}

.page-header h1 div.main {
    border-bottom: 1px solid #ADD8E6;
    margin: 0px 0.8ex 0px 0px;
    width: auto;
    color: #005387;
}

/* Used mostly as description of the report. */
.page-header div.desc,
div.tooltipLikeMessage {
    display: inline-block;
    border: 1px solid #888;
    background: beige;
    font-size: 12pt;
    font-weight: normal;
    padding: 1ex 1em;
    color: black;
    background-color: beige;
}
.page-header div.desc { margin: 0px 15px 15px 30px; }
div.tooltipLikeMessage { margin: 15px 0px 0px 0px; }

.page-header div.desc:before,
div.tooltipLikeMessage:before {
    content: "\e085"; /* Glyphicons question-sign */
    font-family:'Glyphicons Halflings';
    position:relative; top:1px; line-height:1; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
    display: inline-block;
    font-size: 12pt;
    font-style: normal;
    font-weight:normal;
    color: gray;
    padding: 0.3ex 0.3em;
    vertical-align: top;
    cursor: help;
}


.page-header h1 div.path {
    margin-left: 2em;
    font-weight: normal;
    font-size: 14pt;
}

.windup-header {
	text-align:left;
	margin: 0;
	padding: 0;
}

#banner {
	border:0;
}

a.anchor {
	display: block;
	position: relative;
	top: -130px;
	visibility: hidden;
}


img.windup-contributors {
	width:35px;
	margin: 4px;
}

p.windup-contributors  {
	margin: 10px 0 0 0;
}

.migration-issues-detailed-item {
    border: 0px;
}


/** Bootstrap overrides **/

.panel-primary {
    border-color: #00445C;
}

/** Wider <dd> **/
.dl-horizontal dt {
    width: 198px;
}
.dl-horizontal dd {
    margin-left: 210px;
}

/** Bootstrap overrides END **/



/** Navigation **/
.nav .glyphicon {
	height: 13px;
	width: 13px;
}

.nav .glyphicon, .nav .fa {
	margin-right: 5px;
}

.navbar-nav .active a {
    background-color: rgb(137, 137, 137) !important;
}

.hibernate-nav-logo {
	background: url(../img/styles/hibernate-small-white-icon.png);
}
.ejb-nav-logo {
	background: url(../img/styles/ejb-small-white-icon.png);
}
.jpa-nav-logo {
	background: url(../img/styles/jpa-small-white-icon.png);
}
.server-resource-nav-logo {
	background: url(../img/styles/server-resource-small-white-icon.png);
}

.service-nav-logo {
	background: url(../img/styles/service-small-white-icon.png);
}

.bpm-nav-logo {
	background: url(../img/styles/bpm-small-white-icon.png);
}
.tattletale-nav-logo {
	background: url(../img/styles/tattletale-small-white-icon.png);
}
/** /Navigation **/



/** General rules */
.floatRight {
    float: right;
}

.warns {
    font-weight: bold;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

strong {
  font-size: 12px;
}

.numeric-column {
    text-align: right;
}

.note {
    font-size: 12px;
    font-style: italic;
}

div.indent{
    padding-left: 20px;
}

@font-face {
    font-family: FontAwesome;
    src: url('../fonts/fontawesome-webfont.woff');
}

a[target="_blank"]:after {
    content: "\f08e";
    font-family: FontAwesome;
    padding-left: 5px;
}

div.wu-navbar-header {
    width:100%;
    background-color: #030303;
}

span.wu-navbar-header {
    font-size: 18px;
    line-height: 60px;
    color: #d1d1d1;
    height: 60px;
    padding-left: 30px;
    font-weight: normal;
}

strong.wu-navbar-header {
    text-transform: uppercase;
    font-size: 18px;
}

img.wu-navbar-header {
    line-height: 45px;
    height: 45px;
    padding-top: 12px;
    margin-right:10px;
}


/**************** Migration issues *******************************/
.table-inner-wrapping-td {
    padding: 0 !important;
}

.table-inner {
    border: 0 !important;
    margin-bottom: 0;
}

/**
 * It is interesting these width percentages don't have to sum up to 100%
 * (their sum is 104%). But with these percentages, they look most similar to previous javascript-computed table
 * with 760px browser width.
 *
 * Edit: I think it actually looks better even for full 1920x1080 resolution, so I'm keeping these values for all resolutions,
 * instead of using media queries.
 */
.migration-issues table thead tr:nth-child(1) td:nth-child(1),
.migration-issues table thead tr:nth-child(1) th:nth-child(1) { width: 26%; }

.migration-issues table thead tr:nth-child(1) td:nth-child(2),
.migration-issues table thead tr:nth-child(1) th:nth-child(2) { width: 15%; }

.migration-issues table thead tr:nth-child(1) td:nth-child(3),
.migration-issues table thead tr:nth-child(1) th:nth-child(3) { width: 20%; }

.migration-issues table thead tr:nth-child(1) td:nth-child(4),
.migration-issues table thead tr:nth-child(1) th:nth-child(4) { width: 23%; }

.migration-issues table thead tr:nth-child(1) td:nth-child(5),
.migration-issues table thead tr:nth-child(1) th:nth-child(5) { width: 20%; }

.migration-issues table thead tr th,
.migration-issues table thead tr td {vertical-align: top; }

/************************* Filtering and sorting toolbar ******************************/
.toolbar-pf {
    background: #fff;
    padding-top: 10px;
}

.toolbar-pf-actions {
    display: table;
    margin-bottom: 10px;
    width: 100%;
}

@media (min-width: 768px) {
    .toolbar-pf-actions .toolbar-pf-filter {
        padding-left: 0;
        width: 50%;
    }

    .toolbar-pf .form-group {
        float: left;
        margin-bottom: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
    div#filter-div.form-group { border-right: 1px solid #d1d1d1; }
    .toolbar-pf-results h5, .toolbar-pf-results p, .toolbar-pf-results ul { line-height: 40px; }

    .row .toolbar-pf-results { height: 45px }
    .list-inline { vertical-align: middle; }
}

.toolbar-pf .form-group .btn+.btn-link, .toolbar-pf .form-group .btn+.dropdown, .toolbar-pf .form-group .btn-group+.btn-link, .toolbar-pf .form-group .btn-group+.dropdown {
    margin-left: 10px;
}

.toolbar-pf .form-group .btn-link {
    color: #252525;
    font-size: 16px;
    line-height: 1;
    padding: 4px 0;
}

.toolbar-pf .form-group .btn-link:active, .toolbar-pf .form-group .btn-link:focus, .toolbar-pf .form-group .btn-link:hover {
    color: #0088ce;
}

.toolbar-pf-results h5 {
    font-weight: 700;
    margin-right: 20px;
}

.toolbar-pf-results h5, .toolbar-pf-results p, .toolbar-pf-results ul {
    display: inline-block;
    line-height: 26.66666667px;
    margin-bottom: 0;
    margin-top: 0;
}

.toolbar-pf-results span.label a {
    color: white;
}

.toolbar-pf .dropdown-menu>li>a.selected {
    text-decoration: none;
    color: #262626;
    background-color: #eeeeee;
}

/** Tooltip */
h1 div.tooltip-inner {
    text-align: center;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-bottom: 6px;
    background-color: #505050;
    font-size: 14px;
    max-width: 350px;
}

h1 div.tooltip {
    border-bottom: 0px
}

h1 .glyphicon-info-sign:before {
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
}

.page-header-no-border {
    border: 0;
    margin-bottom: 0;
    margin: 0 0 12px;
    padding-bottom: 0;
}

/** Bootstrap 3.4.1 migration compatibility **/

@media (min-width: 768px) {
    .navbar-nav > li >a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.navbar {
    border: none;
}

.navbar-inverse .navbar-nav > li >a {
    color: #ffffff;
}

.panel {
    border-radius: 0px;
}

.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

/*Runtime label legend utils*/

.dl-horizontal-small dt {
    width: 80px !important;
}

.dl-horizontal-small dd {
    margin-left: 92px;
}

.fileName .label {
    border-style: outset;
    cursor: pointer;
}

.label-success.active {
    color: #fff;
    background-color: #2c8463;
    border-color: #255625;
}

.label-warning.active {
    color: #fff;
    background-color: #c67d15;
    border-color: #d58512;
}

.label-danger.active {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.label-success.active, .label-warning.active, .label-danger.active {
    border-style: inset;
}
