body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo {
  margin:10px;
}

.tablesorter thead tr th {
  cursor:pointer;
  background-position: left center;
  padding-left: 20px;
  background: url(../img/styles/table-sort-bg.gif) no-repeat 0%;
}

.btn-xxs {
  padding: 2px 8px;
  margin: 0 3px 0 0;
  line-height: 1.1;
  font-size: 10px;
}

.rule-link {
    color: #00b800;
}

.feedback-nav {
	background: #43ac6a;
}

.feedback-nav-btn {
	background: #43ac6a;
	margin-left: -54px;
}

.feedback-nav-btn:hover {
	background: #43ac6a;
}

.summaryMargin {
	padding:16px;
	border-bottom:1px solid #CCC;
}
.theme-dropdown .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.panel.panel-primary {
    border-radius: 8pt;
}
.panel.panel-primary > .panel-heading {
    border-radius: 8px 8px 0 0 !important;
    border-color: #00255D;
}

.panel.panel-primary h3 {
    font-weight: bold;
}

h3.panel-title { font-size: 14pt; font-weight: bold; }
body.source-report
h3.panel-title { font-size: 20pt }
h3.panel-title span.s {
	margin:0 10px
}

.panel .panel-body .points { float: left; text-align: center; color: #863333; }
.panel .panel-body .points .number { font-size: 50pt; width: 1.5em; }
.panel .panel-body .info h4 { font-weight: bold; font-size: 11pt; margin: 6pt 0 4pt 0; }
.panel .panel-body .info h4:first-child { margin-top: 0; }
.panel .panel-body .info .rule-link.tag { font-variant-position: super; font-weight: normal; position: relative; top: -0.4ex; left: -0.2em; }



dl:last-child {
	margin-bottom:0;
}

.label {
    border-radius: 4px;
    box-shadow: 3px 2px 2px #00255D;
    padding: 4px 8px 1px;
    font-weight: bold;
    border: 1px inset white;
    margin: 2px 4px 6px 0px;
}
a.windup-file-location {
	display: block; position: relative; top: -40px; visibility: hidden;
}


.windup-bar {
	height: 130px; text-align: center; background: #FFF; border-bottom: 1px solid #c2cfdb;
}

.windup-cta {
	background: #fcfcfc; border-bottom: 1px solid #c2cfdb; height: 200px; margin-bottom: 30px;
}

.page-header-no-border {
	border: 0;
	margin-bottom: 0;
}

.page-header h1{
	margin:15px;
}

.top-menu a:hover, a:focus{
	color: #008CBA;
}

.breadcrumb li a {
    font-size: 13px;
}

.page-header h1 span.slash {
	color: #555;
}

.windup-header {
	text-align:left;
	margin: 0;
	padding: 0;
}

#banner {
	border:0;
}

a.anchor {
	display: block;
	position: relative;
	top: -130px;
	visibility: hidden;
}


img.windup-contributors {
	width:35px;
	margin: 4px;
}

p.windup-contributors  {
	margin: 10px 0 0 0;
}

/** Navigation **/
.nav .glyphicon {
	height: 13px;
	width: 13px;
}
.hibernate-nav-logo {
	background: url(../img/styles/hibernate-small-white-icon.png);
}
.ejb-nav-logo {
	background: url(../img/styles/ejb-small-white-icon.png);
}
.jpa-nav-logo {
	background: url(../img/styles/jpa-small-white-icon.png);
}
.server-resource-nav-logo {
	background: url(../img/styles/server-resource-small-white-icon.png);
}

.service-nav-logo {
	background: url(../img/styles/service-small-white-icon.png);
}

.bpm-nav-logo {
	background: url(../img/styles/bpm-small-white-icon.png);
}
.tattletale-nav-logo {
	background: url(../img/styles/tattletale-small-white-icon.png);
}
/** /Navigation **/
