body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo {
  margin:10px;
}

.summaryMargin {
	padding:16px;
	border-bottom:1px solid #CCC;
}
.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.nav i.glyphicon {
	height: 13px; 
	width: 13px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

h3.panel-title span.s {
	margin:0 10px
}

dl:last-child {
	margin-bottom:0;
}



.windup-bar {
	height: 130px; text-align: center; background: #FFF; border-bottom: 1px solid #c2cfdb;
}

.windup-cta {
	background: #fcfcfc; border-bottom: 1px solid #c2cfdb; height: 200px; margin-bottom: 30px;
}

.page-header-no-border {
	border: 0;
	margin-bottom: 0;
}

.page-header h1{
	margin:15px;
}

.top-menu a:hover, a:focus{
	color: #008CBA;
}

.breadcrumb {
}

.page-header h1 span.slash {
	color: #555;
}

.windup-header {
	text-align:left;
	margin: 0;
	padding: 0;
}

#banner {
	border:0;
}

a.anchor {
	display: block;
	position: relative;
	top: -130px;
	visibility: hidden;
}


img.windup-contributors {
	width:35px;
	margin: 4px;
}

p.windup-contributors  {
	margin: 10px 0 0 0;
}

/** Navigation **/
.nav .glyphicon {
	height: 13px;
	width: 13px;
}
.hibernate-nav-logo {
	background: url(../img/styles/hibernate-small-white-icon.png);
}
.ejb-nav-logo {
	background: url(../img/styles/ejb-small-white-icon.png);
}
.jpa-nav-logo {
	background: url(../img/styles/jpa-small-white-icon.png);
}
.server-resource-nav-logo {
	background: url(../img/styles/server-resource-small-white-icon.png);
}
.bpm-nav-logo {
	background: url(../img/styles/bpm-small-white-icon.png);
}
/** /Navigation **/