@media (max-width:801px) {
    .panel.panel-boarding{
        display:inline-block;
    }
}


body {
  padding-top: 45px;
  padding-bottom: 30px;
}

.logo {
  margin:23px;
}

.tablesorter > thead > tr > th.sortable {
  cursor:pointer;
  background-position: left center;
  padding-left: 20px;
  background: url(../img/styles/table-sort-bg.gif) no-repeat 0%;
}

.tablesorter > thead > tr > th.sortable-right {
  cursor:pointer;
  padding-right: 20px;
  background: url(../img/styles/table-sort-bg.gif) no-repeat 0%;
  background-position: right center;
}

.btn-xxs {
  padding: 2px 8px;
  margin: 0 3px 0 0;
  line-height: 1.1;
  font-size: 10px;
}

.rule-link {
    color: #008800;
}
.rule-link.floatRight {
    padding: 4pt 4pt 0 0;
    font-size: 8pt;
}

.feedback-nav {
	background: #43ac6a;
}

.nav > li > a.feedback-nav-btn {
	background: #43ac6a;
	padding-right: 30px;
}

.feedback-nav-btn:hover {
	background: #43ac6a;
}

.summaryMargin {
	padding:16px;
	border-bottom:1px solid #CCC;
}
.theme-dropdown .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.table.table-striped.table-bordered tr:last-child td:first-child {
	border-bottom-left-radius: 8pt;
}

.table.table-striped.table-bordered tr:last-child td:last-child {
	border-bottom-right-radius: 8pt;
}

.panel.panel-primary.panel-boarding {

	}
.panel.panel-primary.panel-boarding > .panel-heading {
    border-color: #008cba;
}

.panel.panel-primary h3 {
    font-weight: bold;
}

h3.panel-title { font-size: 14pt; font-weight: bold; }
body.source-report
h3.panel-title { font-size: 20pt }
h3.panel-title span.s {
	margin:0 10px
}



.mainGraphContainer .points,
.projectBox         .points,
.panel .panel-body  .points { float: left; text-align: center; color: #00254b; }

.mainGraphContainer .points .number  { font-size: 85pt; width: 1.5em; }
.projectBox         .points          { width: 24%; }
.projectBox         .points .number  { font-size: 70pt; }
.panel .panel-body  .points .number  { font-size: 50pt; width: 1.5em; }
.panel .panel-body  .points .mainNumber  { font-size: 50pt;}

.panel .panel-body .info h4 { font-weight: bold; font-size: 11pt; margin: 6pt 0 4pt 0; }
.panel .panel-body .info h4:first-child { margin-top: 0; }
.panel .panel-body .info .rule-link.tag { font-variant-position: super; font-weight: normal; position: relative; top: -0.3ex; }

.java-application .notifications li.warning small { color: #888; font-style: italic; }


dl:last-child {
	margin-bottom:0;
}

/*overwriting bootstrap style*/
.label {
    display: block;
    float: left;
    border-radius: 4px;
    padding: 4px;
    margin: 2px;
    font-weight: bold;
}
/*overwriting bootstrap style*/
.label-info {
    background-color: #696969; /*this is dark grey instead of blueish from bootstrap's label-info */
}

a.windup-file-location {
	display: block; position: relative; top: -40px; visibility: hidden;
}


.windup-bar {
	height: 130px; text-align: center; background: #FFF; border-bottom: 1px solid #c2cfdb;
}

.windup-cta {
	background: #fcfcfc; border-bottom: 1px solid #c2cfdb; height: 200px; margin-bottom: 30px;
}


.top-menu a:hover, a:focus{
	color: #008CBA;
}

.breadcrumb li a {
    font-size: 13px;
}

.page-header-no-border {
	border: 0;
	margin-bottom: 0;
}

.page-header h1{
	margin:15px;
}

.page-header h1 span.slash {
	color: #555;
}

.page-header h1 {
    padding-left: 12pt;
}

.page-header h1 div.main {
    border-bottom: 1px solid #ADD8E6;
    margin: 0px 6em 0.5ex 0px;
    width: auto;
    color: #005387;
}

/* Description of the report, showing when .page-header has .showDesc . */
.page-header div.desc:before {
    content: "\e085"; /* Glyphicons question-sign */
    font-family:'Glyphicons Halflings';
    position:relative; top:1px; line-height:1; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;
    display: inline-block;
    font-size: 12pt;
    font-style: normal;
    font-weight:normal;
    color: gray;
    padding: 0.3ex 0.3em;
    vertical-align: top;
    cursor: help;
}

.page-header div.desc {
    display: inline-block;
    border: 1px solid #888;
    background: beige;
    font-size: 12pt;
    font-weight: normal;
    padding: 1ex 1em;
    margin: 0px 15px 15px 30px;
    color: black;
    background-color: beige;
}

.page-header h1 div.path {
    margin-left: 2em;
    font-weight: normal;
    font-size: 14pt;
}

.windup-header {
	text-align:left;
	margin: 0;
	padding: 0;
}

#banner {
	border:0;
}

a.anchor {
	display: block;
	position: relative;
	top: -130px;
	visibility: hidden;
}


img.windup-contributors {
	width:35px;
	margin: 4px;
}

p.windup-contributors  {
	margin: 10px 0 0 0;
}

.migration-issues-detailed-item {
    border: 0px;
}


/** Bootstrap overrides **/

.panel-primary {
    border-color: #00445C;
}

/** Wider <dd> **/
.dl-horizontal dt {
    width: 198px;
}
.dl-horizontal dd {
    margin-left: 210px;
}

/** Bootstrap overrides END **/



/** Navigation **/
.nav .glyphicon {
	height: 13px;
	width: 13px;
}

.navbar-nav .active a {
    background-color: rgb(137, 137, 137) !important;
}

.hibernate-nav-logo {
	background: url(../img/styles/hibernate-small-white-icon.png);
}
.ejb-nav-logo {
	background: url(../img/styles/ejb-small-white-icon.png);
}
.jpa-nav-logo {
	background: url(../img/styles/jpa-small-white-icon.png);
}
.server-resource-nav-logo {
	background: url(../img/styles/server-resource-small-white-icon.png);
}

.service-nav-logo {
	background: url(../img/styles/service-small-white-icon.png);
}

.bpm-nav-logo {
	background: url(../img/styles/bpm-small-white-icon.png);
}
.tattletale-nav-logo {
	background: url(../img/styles/tattletale-small-white-icon.png);
}
/** /Navigation **/



/** General rules */
.floatRight {
    float: right;
}

.warns {
    font-weight: bold;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

strong {
  font-size: 12px;
}

.numeric-column {
    text-align: right;
}

.note {
    font-size: 12px;
    font-style: italic;
}

div.indent{
    padding-left: 20px;
}
