name: Windup PR/Push builder

on:
  pull_request:
    branches: 
      - master
      - 'releases/**'
  push:
    branches:
      - master
      - 'releases/**'

jobs:

  windup-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        java-package: jdk
    - name: Cache local Maven repository
      uses: actions/cache@v3
      with:
        path: .m2
        key: maven-windup-build-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-maven-
          setup-java-
    - name: Build on JDK 11
      run: ./mvnw clean install -DskipTests -B -U -Dmaven.repo.local=${{ github.workspace }}/.m2

  windup-build-with-unit-tests-1:
    strategy:
      fail-fast: false
      matrix:
        java-version: [ 11, 17 ]
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
#    needs: [windup-build]
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.java-version }}
        distribution: 'temurin'
        java-package: jdk
    - name: Cache local Maven repository
      uses: actions/cache@v3
      with:
        path: .m2
        key: maven-windup-build-${{ github.sha }}
        enableCrossOsArchive: true
    - name: Set up chromedriver variable
      run: |
        echo "CHROMEWEBDRIVER=${CHROMEWEBDRIVER}" >> "$GITHUB_ENV"
    - name: Test
      run: ./mvnw -B clean install -pl '!tests,!rules-java/tests,!rules-xml/tests,!config/tests' -D"webdriver.chrome.driver=${{ env.CHROMEWEBDRIVER }}/chromedriver" -D"maven.repo.local=${{ github.workspace }}/.m2"

  windup-build-with-unit-tests-2:
    strategy:
      fail-fast: false
      matrix:
        java-version: [ 11, 17 ]
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
    needs: [windup-build]
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.java-version }}
        distribution: 'temurin'
        java-package: jdk
    - name: Cache local Maven repository
      uses: actions/cache@v3
      with:
        path: .m2
        key: maven-windup-build-${{ github.sha }}
        enableCrossOsArchive: true
    - name: Set up chromedriver variable
      run: |
        echo "CHROMEWEBDRIVER=${CHROMEWEBDRIVER}" >> "$GITHUB_ENV"
    - name: Test config
      run: ./mvnw -B clean install -f config -D"maven.repo.local=${{ github.workspace }}/.m2"
    - name: Test rules-java
      run: ./mvnw -B clean install -f rules-java -D"maven.repo.local=${{ github.workspace }}/.m2"
    - name: Test rules-xml
      run: ./mvnw -B clean install -f rules-xml -D"maven.repo.local=${{ github.workspace }}/.m2"

  windup-tests:
    strategy:
      fail-fast: false
      matrix:
        java-version: [ 11, 17 ]
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
    needs: [windup-build]
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.java-version }}
        distribution: 'temurin'
        java-package: jdk
    - name: Cache local Maven repository
      uses: actions/cache@v3
      with:
        path: .m2
        key: maven-windup-build-${{ github.sha }}
        enableCrossOsArchive: true
    - name: Set up chromedriver variable
      run: |
        echo "CHROMEWEBDRIVER=${CHROMEWEBDRIVER}" >> "$GITHUB_ENV"
    - name: Test
      run: ./mvnw -B test -D"webdriver.chrome.driver=${{ env.CHROMEWEBDRIVER }}/chromedriver" -f tests -D"maven.repo.local=${{ github.workspace }}/.m2"
