name: Windup PR builder for JDK11

on:
  pull_request:
    branches: 
      - master

jobs:
  windup-build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.4
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        java-package: jdk
        cache: 'maven'
    - name: Set up chromedriver variable
      run: |
        echo "CHROMEWEBDRIVER=${CHROMEWEBDRIVER}" >> "$GITHUB_ENV"
    - name: Build on JDK 11
      run: mvn -B clean install -Dwebdriver.chrome.driver=${{ env.CHROMEWEBDRIVER }}/chromedriver
