name: Windup-dependent projects' PR builder for JDK11

on:
  pull_request:
    branches:
      - master

jobs:
  windup-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          java-package: jdk
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build on JDK 11
        run: mvn -B clean install -DskipTests

  windup-rulesets-build:
    runs-on: ubuntu-18.04
    needs: [windup-build]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2.3.4
        with:
          repository: windup/windup-rulesets
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          java-package: jdk
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build
        run: mvn clean install -nsu

  windup-maven-plugin-build:
    runs-on: ubuntu-18.04
    needs: [windup-rulesets-build]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2.3.4
        with:
          repository: windup/windup-maven-plugin
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          java-package: jdk
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build
        run: mvn clean install -nsu

  windup-quickstarts-build:
    runs-on: ubuntu-18.04
    needs: [windup-build]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2.3.4
        with:
          repository: windup/windup-quickstarts
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          java-package: jdk
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build
        run: mvn clean install -s settings.xml -nsu