
/* Summary layout table */
body.java-application table.summaryLayout { width: 100%; }
body.java-application table.summaryLayout > tr > td,
body.java-application table.summaryLayout > tbody > tr > td { vertical-align: top; margin-bottom: 2ex; }

/* ===  Projects tree view  === */
body.java-application #treeView-Projects-wrap {
    float: left;
    margin: 0px 0px 2ex 150px;
    overflow: hidden;
}
body.java-application #treeView-Projects-wrap #overlayFog { display: none; }
body.java-application #treeView-Projects-wrap.short #overlayFog {
    display: block;
    z-index: 10;
    position: absolute;
    width: 600px;
    height: 30px;
    margin-top:  80px;
    padding-top: 50px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */                                    xbackground-color: blue;
    text-align: right;
}
body.java-application #treeView-Projects-wrap #treeView-Projects {
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    overflow: hidden;
}
body.java-application #treeView-Projects-wrap.short #treeView-Projects {
    height: 130px;
    overflow: scroll;
}

body.java-application #treeView-Projects-wrap .showButtons { z-index: 20; }
body.java-application #treeView-Projects-wrap.short .showLess { display: none; }
body.java-application #treeView-Projects-wrap.short .showMore { display: inherit; }
body.java-application #treeView-Projects-wrap       .showLess { display: inherit; }
body.java-application #treeView-Projects-wrap       .showMore { display: none; }

/* Things to show/hide when all the long computation is done ("Computing... " etc.). */
body.java-application.computingDone .hideWhenComputed { display: none; }
body.java-application               .hideUntilComputed { display: none; }
body.java-application.computingDone .hideUntilComputed { display: inherit; }



.projectBox table.subprojects > tbody > tr > th,
.projectBox table.subprojects > tbody > tr > td {
    border-left: none;
    border-right: none;
}
.projectBox table.subprojects > tbody > tr > td {
    padding: 1px 0.5em;
}


/* Charts */
body.java-application .chartBoundary {
    width: 500px;
    margin: 20px auto;
}

body.java-application .chartBoundary h4 {
    border-bottom: 1px solid #008CBA;
    margin-right: 10%;
}

.mainGraphContainer {
    margin-bottom: 20px;
}

/* Packages pie chart */
.windupPieGraph {
    height: 250px;
    width:  500px;
    margin: 0 auto;
    border: 0px dashed gainsboro;
}
.windupPieGraph div.legend table {
    min-width: 200px;
    margin-right: 20px;
}
.windupPieGraph div.legend td.legendColorBox,
.windupPieGraph div.legend td.legendColorBox div {
    width: 14px;
}
.windupPieGraph div.legend td.legendLabel { padding-left: 0.6ex; }


/* Project panels */

.projectBox .panel-heading span.storyPoints { font-size: 80%; margin-left: 1em; }

/* .points also in main CSS - windup.css */
.panel .panel-body  div.points {
    float: left;
    padding-bottom: 1ex;
    text-align: center;
    color: #00254b;
}
.panel .panel-body  div.points .number  {
    width:100%;
    font-size: 65pt;
}

.panel .panel-body  div.basicInfo {
    float: left;
    /*position: absolute;
    margin-left: 24%;*/
}

.panel .panel-body  div.basicInfo > table {
    border-bottom: 1px solid #DDD;
}

.arrowIcon {
    padding-right:30px;
}

.panel-collapsed.clickable {
    cursor: pointer;
}
